*{
    box-sizing: border-box;
    border-radius: 20px;
    
}
body{
    background-color:#fcfaf8 ;
}
.container {
    display: grid;

    grid-template-areas:
        "nav nav "
        "welcome welcome"
        "obj  cus"
        "about contact"
        "info info"
        "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    

}

.sec1{
    grid-area: welcome;
    text-align: center;
    padding: 30px;
    margin: 20px;
    background-color: #d0e3ff;

}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 40px;
    color: #081f5c;
}

#navArea li a{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 16px;
    color: #0000ff;
    text-decoration: none;

}

header{
    grid-area: nav;
    display:block;
    background-color: #edf1f6;
    margin:20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
}
.logo{
    cursor: pointer;
    margin-right: auto;
}
.navBar{
    list-style: none;
    display:flex;
    gap:20px
}
.navBar li{
    display: inline;
    padding: 0 20px;
}
.navBar li a{
    transition: all 0.3s ease 0s;
}
.navBar li a:hover{
    color: red;
}
img.logo{
    border-radius: 15px;
}

.btn{
    padding: 15px 40px;
    margin: 10px auto;
    border:none;
    outline: none;
    color:rgb(81, 81, 127);
    cursor: pointer;
    display: inline-block;
    border-radius: 15px;
    background-color: #E7F1A8;
    text-decoration: none;
}
.btn:hover{
    background-color: rgb(81, 81, 127);
    color: white;
    text-emphasis:bold;
    box-shadow: 5px 5px 15px rgba(170, 106, 106, 0.2);
}
.quote-container{
    display: flex;
    margin: 15px;
    gap:5px;
}
blockquote{
    display: inline-block;
    width: 45%;
    height: 200px;
    border-radius: 15px;
    padding: 10px;
    color: white;
    margin: 15px;
}
footer{
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #edf1f6;
    border-radius: 20px;
    grid-area: footer;
}
.cusine-types{
    margin: 30px;
    padding: 25px;
    border-radius: 15px;
    text-decoration: none;
    grid-area: cus;
    
}
.cusine-types ul{
    padding: 25px;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content:space-around;
}
.cusine-types ul li{
    display: inline;
    padding: 0 20px;
}
.cusine-types ul li a{
    transition: all 0.3s ease 0s;
}
.cusine-types ul li a:hover{
    color: white;
    font-weight: bolder;
}
.objectives{
    margin: 30px;
    padding: 25px;
    border-radius: 15px;
    text-decoration: none;
    grid-area: obj;
}
.objectives ul{
    padding: 25px;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content:space-around;
}

.contact{
    margin: 30px;
    padding: 25px;
    border-radius: 15px;
    text-decoration: none;
    grid-area: contact;
}
.about{
    margin: 30px;
    padding: 25px;
    border-radius: 15px;
    text-decoration: none;
    grid-area: about;
}
.about ul{
    padding: 25px;
    list-style: none;
}
.info{
    margin: 30px;
    padding: 25px;
    border-radius: 15px;
    text-decoration: none;
    grid-area: info;
}
.info ul{
    padding: 25px;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content:stretch;
    text-decoration: none;
}

.info ul li{
    display: inline;
    padding: 0 20px;
}
.info ul li a{
    transition: all 0.3s ease 0s;
}
.info ul li a:hover{
    color: white;
    font-weight: bolder;
}
.bc {
    border-radius: 15px;
    margin: 15px;
    box-shadow: none;
    width:auto;
    height: auto;

}
h2{
    color:#364C84;
    font-family: "Vidaloka", serif;
    font-size: 30px;
    font-weight: 200;


}