 
p{
    font-family: "Vidaloka", serif;
    font-weight: 500;
    font-size: 16px;
    color: #504E76;
}
.section1 p{
    font-size: 20px;
}
.contact strong{
    text-align: center;
    font-family: "Vidaloka", serif;
    color: #262272;
    padding: 25px;
    font-size: 20px;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 40px;
    color: #081f5c;
}
h2{
    color:#364C84;
    font-family:"Playfair Display", serif;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
}
body{
    background-color:#fcfaf8 ;
}
.container{
    display: grid;
    grid-template-areas:
        "header header header header"
        "picture section1  section1 section1"
        "objectives objectives cuisine  cuisine "
        " about about contact contact "
        "image image image image"
        "info info quote quote "
        "footer footer footer footer";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: .15fr .5fr .56fr .4fr .2fr .34fr .25fr;
        grid-gap:15px;
        margin: 10px;
}
.picture{
    
    grid-area:picture;


    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.picture img{ 
    padding: 40px;  
    max-width: 100%;
    height: auto; 
    margin: 20 auto;
    border-radius: 15px;
    box-shadow: none;

}
header{
    grid-area: header;
    display:block;
    background-color: #edf1f6;
    margin:20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
    
    border-radius: 25px;

}
/* nav css starts here */
#navArea li a{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 16px;
    color: #0f0f3d;
    text-decoration: none;
}

.navBar{
    list-style: none;
    display:flex;
    gap:20px
}
.navBar li{
    display: inline;
    padding: 0 20px;
}
.navBar li a{
    transition: all 0.3s ease 0s;
}
.navBar li a:hover{
    color: rgb(100, 71, 215);
}

.logo{
    cursor: pointer;
    margin-right: auto;
}
img.logo{
    border-radius: 15px;
}
/* nav css ends here */

/*section1 css starts here*/
.section1{
    grid-area: section1;
    margin: 20px;
    text-align: center;
    display:block;
    padding: 55px 10%; 
}


/*section1 css ends here*/

/*button css*/
.btn{
    padding: 15px 40px;
    margin: 10px auto;
    border:none;
    outline: none;
    color:rgb(81, 81, 127);
    cursor: pointer;
    display: inline-block;
    border-radius: 45px;
    background-color: #E7F1A8;
    text-decoration: none;
    font-family: "Elsie Swash Caps", cursive;
    font-size: 20px;
    font-weight: 200;
    text-align:center;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.btn:hover{
    background-color: rgb(81, 81, 127);
    color: white;
    text-emphasis:bold;
    box-shadow: 5px 5px 15px rgba(170, 106, 106, 0.2);
}
/*button css ends here*/
/*objectives css starts here*/
.objectives{
    grid-area: objectives;
    margin: 10px;
    padding: 25px;
    border-radius: 15px;
    text-decoration: none; 
     
 
    background-color: #eff4fb;
    
}
.objectives p , ul {
    font-size: 20px;
    font-family: "Vidaloka", serif;
    font-weight: 400;
    color: #504E76;
}
.objectives ul{
    padding: 25px;
    list-style: none;
    display: flex;
    display: list-item;
    gap: 20px;
}
/*objectives css ends here*/
/*cusine-types css starts here*/
.cuisine-types{
    grid-area: cuisine;
    margin: 10px;
    padding: 25px;
    border-radius: 15px;
    text-decoration: none; 
    
}

.cuisine-types ul{
    padding: 25px;
    list-style: none;
    display: flex;
    gap: 20px;
    display: list-item;
    

}
.cuisine-types ul li{
    display: inline-block;
    padding: 15px 20px;
    margin: 10px;
    background-color: #EBBAC2;
    font-family: "Dancing Script" , cursive;
    font-size: 20px;
    font-weight: 200;
    border-radius: 25px;
    
}
.cuisine-types ul  li a{
    text-decoration: none;
    color: #504E76;
}
.cuisine-types ul li a{
    transition: all 0.3s ease 0s;
}
.cuisine-types ul li a:hover{
    color: white;
    font-weight: bolder;
}

/*cusine-types css ends here*/
/*about css starts here*/
.about{
    grid-area: about;
    margin: 30px;
    padding: 25px;
    border-radius: 15px;
    text-decoration: none;
    /*display: inline-block;
    width:500px;*/
    text-align: center;
    
}
.about p{
    font-size: 20px; 
}
.about ul{
    padding: 25px;
    list-style: none;
}
/*about css ends here*/
/*contact css starts here */
.contact{
    grid-area: contact;
    margin: 30px;
    padding: 25px;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block; 
    text-align: center;
}
.contact p{
    text-align: left;
    font-size: 20px; 
}


/*contact css ends here */
 
/*quote css starts here */

.quote{
    grid-area: quote;
    background-color: lavenderblush;
    
    border-radius: 15px;
    
}
.quote-container{
    display: flex;
    margin: 25px;
    gap:5px; }

blockquote{
    display: inline-block;
    width: 105%;
    height:auto;
    border-radius: 15px;
    padding: 10px;
    color: white; 
}
/*quote css ends here */
/*info css starts here */
.info{
    grid-area: info;
        margin: 30px;
        padding: 25px;
        border-radius: 15px;
        text-decoration: none; 
    }
    
    .info ul{
        padding: 25px;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        gap: 20px;
        justify-content:space-between;
        text-decoration: none;
    }
    
    .info ul li{
        display: inline-block;
        background-color: #bfbfdb;
        padding: 25px 20px;
        margin: 20px;
        font-size: 20px;
        font-weight: 200;
        border-radius: 25px;
    
    }
    .info ul li a{
        text-decoration: none;
        transition: all 0.3s ease 0s;
    }
    .info ul li a:hover{
        color: rgb(54, 71, 128);
        font-weight: bolder;
    }
    /*info css ends here */

    /*footer css starts here */
.footer{
    grid-area: footer;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #edf1f6;
    border-radius: 20px; 
}
/*footer css ends here */
/*image css*/
.bc  {
    grid-area: image;
    border-radius: 15px;
    margin: 15px;
    box-shadow: none;
    width:auto;
    height:auto;
    display: inline-block;
    background-color:#f5e9d3;
}

.bc img{
    border-radius: 15px;
    max-width: 35%;
    height: auto;
    align-content:center ;
    display: block;
    margin: 0 auto;
    
}
 
/*image css ends here*/
/*responsivness code*/




/*size 992px*/

@media screen and (max-width:992px){


    .container{
        display:grid;
        grid-template-areas: "header header header "
                            "picture picture picture"
                            " section1  section1 section1"
                            "objectives objectives cuisine"
                            "about contact contact"
                            "image image image"
                            "info quote quote"
                            "footer footer footer";
        gap:25px;
        padding:30px;
        margin: 20px;
    }
    

    header, .navBar , .section1 ,.objectives , .cuisine-types ,.about ,.contact , .quote ,.info , .footer  {
        
        padding:19px;
    }
    

    h1{
        font-size:1.90rem;
    }
    h2{
        font-size: 1.65rem;
    }
    h3{
        font-size: 1.45rem;
    }
    li {
        font-size: 1.25rem;
    }
    p{
        font-size: 1.35rem;
    }

    .br{
        flex-direction: row;
        justify-content: center;
    }
    .br img{
        max-width: 100px;
    }
    
    }


    
/*size 768px*/


@media screen and (max-width:768px){

.container{
    display:grid;
    grid-template-areas: "header header   "
                            "picture  picture"
                              "section1  section1"
                            "objectives  objectives"
                            "cuisine cuisine"
                            "about   contact"
                            "image   image"
                            "info  info"
                            "quote quote"
                            "footer   footer";
    gap:50px;
    padding:15px;
    margin: 20px;
}

h1{
    font-size:1.95rem;

}
h2{
    font-size: 1.25rem;
}
h3{
    font-size: 1.15rem;
}
li {
    font-size: 1.15rem;
}
p{
    font-size: 1.45rem;
}
.br{
    flex-direction: column;
    justify-content: center;
}
.br img{
    max-width: 80px;
}
}    




/*size 576px*/


@media screen and (max-width:576px) {
    .container{
        display:grid;
        grid-template-areas: "header  "
                            "picture  "
                            "section1   "
                            "objectives "
                            " cuisine"
                            "about"
                            "contact"
                            "image"
                            "info"
                            "quote "
                            "footer ";
        gap:35px;
        padding:25px;
        margin: 25px;
    }

    h1{
        font-size:1.95rem;
    }
    h2{
        font-size: 1.25rem;
    }
    h3{
        font-size: 1.15rem;
    }
    p, li {
        font-size: 1.15rem;
    }
    .header{
        padding: 5px;
    }
    
    
}