
p{
    font-family: "Vidaloka", serif;
    font-weight: 500;
    font-size: 25px;
    color: #504E76;
}

h1{
    font-family:"Playfair Display", serif;
    text-decoration: none;
    font-weight: 900;
    font-size: 65px;
    color: #081f5c;
}
h2{
    color:#364C84;
    font-family:"Playfair Display", serif;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
}
label{
    font-size: 15px;
    font-weight: bold;

}
body{
    background-color:#fcfaf8 ;
}

.container{
    display: grid;
    grid-template-areas: "header header header  header"
                        "form form cuisine cuisine   " 
                        "footer footer footer footer ";
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        grid-template-rows: .15fr 1fr  .15fr;
                        grid-gap:15px;
                        margin: 10px; 
                        
   
}

header{
    grid-area: header; 
    background-color: #edf1f6;
    margin:20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
    border-radius: 25px;

}
/* nav css starts here */
#navArea li a{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 16px;
    color: #0f0f3d;
    text-decoration: none;
}

.navBar{
    list-style: none;
    display:flex;
    gap:20px
}
.navBar li{
    display: inline;
    padding: 0 20px;
    color:#081f5c
}
.navBar li a{
    transition: all 0.3s ease 0s;
}
.navBar li a:hover{
    color: rgb(128, 13, 13) !important;
    font-weight: 900;
    font-size: larger;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}
img.logo{
    border-radius: 15px;
}

/* nav css ends here */
.userOpinion{
    
    grid-area: form;
}

form{
    background-color: #f5eef7;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(111, 110, 111, 0.2) !important;
    padding: 20px;
    margin: 10px;


}
form .button{
    padding: 10px 30px;
    margin: 10px auto;
    border:none;
    outline: none;
    color:rgb(81, 81, 127);
    cursor: pointer;
    display: inline-block;
    border-radius: 45px;
    background-color: #e9f3ff;
    text-decoration: none;
    font-family: "Elsie Swash Caps", cursive;
    font-size: 15px;
    font-weight: 200;
    text-align:center;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2) !important;

    
}
form .button:hover{
    background-color: rgb(81, 81, 127);
    color: white;
    font-weight:bold;
    box-shadow: 5px 5px 15px rgba(246, 0, 74, 0.2) !important;


}
/*cusine-types css starts here*/
.cuisine-types{
    grid-area: cuisine;
    margin: 10px;
    padding: 25px;
    border-radius: 15px;
    text-decoration: none; 
    
    
}
.cuisine-types ul li a:hover{
    color: white;
    font-weight: bolder;
    box-shadow: 10px 10px 20px 5px rgba(239, 237, 150, 0.2) !important;

}
/*css card */
.recipeCard{
    width:250px;
    background-color: #364C84;
    color: #fcfcfc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.3);
}

.cardcontainer{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
}

.cardImage{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #262272;
    padding-top:20px;
}
.cardBody{
    padding: 10px;
    background-color: #edf1f6;
    display: inline-block;
    margin-top:30px ;
}
.cardTitle{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
    color: #081f5c;
    text-align: center;
}
.cardText{
    font-size: 14px;
    margin-bottom: 15px;
    color: #0a0a0a;
}
.cardButton{
    display: inline-block;
    background-color: #ffeef1;
    color: rgb(6, 4, 4);
    text-decoration: none;
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
    box-shadow: 10px 10px 20px 5px rgba(239, 237, 150, 0.2) !important;
    font-family: "Elsie Swash Caps", cursive;
    padding: 15px 30px;
    margin: 10px auto;
    border:none;
    outline: none;
    cursor: pointer;
    font-weight: 200;
    transition: all 0.3s ease 0s;

   
}
.cardButton:hover{
    background-color: #0f0f3d;
    color: white;
    
}
.cardImage img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    display: block;
     object-fit: cover;

}

/*cusine-types css ends here*/
    /*footer css starts here */
.footer{
    grid-area: footer;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #edf1f6;
    border-radius: 20px; 
}
.footer p{
    font-size: 15px;
}
/*footer css ends here */